body{
	margin:0;
	background-color: rgba(0, 0, 0, 0.03);
}

.britoz-header{
	position: sticky;
    top: 0;
	z-index: 1071;
	box-shadow: 0px 0px 10px 0px #bd3609;
}

footer{
	height: 350px;
	background-color:#f7f7f7;
	margin-top: 50px;
	padding-top: 1px;
	margin-top: 30%;
}

.navbar-brand img{
	height: 60px;
    margin-top: -11px;
}
.left-menu{
	width:15%;
	min-width: 250px;
	height: auto;
	margin-left: 20px;
	float:left;
}

.first-left-menu{
	width:100%;
	min-width: 200px; 
	background-color: white;
	height: 450px;
	border:1px solid #b8b4b66e;
}

.second-left-menu{
	height: 200px;
	background-color: #fff;
	margin-top:30px;
	border:1px solid #b8b4b66e;
	padding-left: 20px;
}

.top-menu-img{
	width: 100%;
	height: 40%;
	background-size: 100% auto;
}
.people-img-form{
	height: 80px;
	width: 80px;
	border: 4px solid #e7eff4;
	border-radius: 50%;
	background-image: url("../img/people-img.jpg");
	background-size: 100% auto;
	margin-top: -14%;
    margin-left: 33%;
}
.info-under-peopel-img{
	text-align: center;
}

.middle-infor{
	width: 61%;
	min-height: 800px;
	background-color: #fff;
	border:1px solid #b8b4b66e;
	float:left;
	margin-left: 1%;
	box-shadow: 0px 0px 10px 0px;
	padding-bottom: 50px;
}

.middleTop{
	height: 300px;
	background-color: #bd3609;
	margin-top: 10px;
	color:white;
	padding: 35px;
}

.middleTopTitle{
	font-family: "Courier New";
    padding-top: 35px;
}

.staff_facea{
	border: 4px solid #eae4e4;
    height: 68%;
    width: 15%;
    border-radius: 50%;
    margin: 3%;
    background-image: url(../img/vinh.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    float: left;
}

.staff-new{
	width: 80%;
    height: 200px;
    border-left: 1px solid #efeaea;
    border-bottom: 1px solid #efeaea;
    float: right;
    margin-right: 5%;
	box-shadow: 0px 2px 5px 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.right-infor{
	width: 20%;
	min-height: 500px;
	background-color: #fff;
	border:1px solid #b8b4b66e;
	float: right;
	margin-right: 1%;
}

.right-infor-top{
	width: 85%;
	height: 80px;
	border-bottom: 1px solid #867c7c47;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.second-right-div{
	width: 85%;
	border-bottom: 1px solid #867c7c47;
	height: auto;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 100px;
}

.all-infor{
	height: 1200px;
	width: 100%;
}

.popular-post{
	height: 200px;
	border-bottom: 1px solid #867c7c47;
	padding: 5px;
	padding-top: 20px;
}

.popular-post img{
	width: auto;
	height: 70%;
	max-width: 40%;
}

.summery{
	width: 50%;
	float: right;
	height: auto;
	max-height: 100%;
	margin-bottom: 10px;
}

.footer-title{
	border-top: 4px solid #bd3609;
    width: 47%;
    background-color: #fff;
    height: 100px;
	margin-left: 25%;
	float: left;
	box-shadow:0px 0px 4px 0px;
}

.footer-end{
	border-top: 1px solid #0000001f;
	margin-top: 46px;
	background-color: #bd3609;
	height: 100%;
}

.button_design{
	background-color: #0000;
	border-radius: 40%;
    padding: 10px;
}

.span_design{
	border-radius: 50%;
    font-size: 28px;
}
.Staff_infor_first{
	font-family: "Courier New";
	margin-bottom: 40%;
}
.left_infor{
	float:left;
	padding: 6%;
	width:50%;
}

.right_infor{
	padding: 6%;
    width: 50%;
    float: right;
}
.Staff_infor_second{
	font-family: "Courier New";
}
.second_left_infor{
	float:left;
	padding: 6%;
	width:50%;
}