<div ng-app="index-App" ng-controller="leftMenu-ctrl">
    <div class="left-menu">
        <div class="first-left-menu">
            <div class="top-menu-img" ng-style="img_link"></div>
            <div class="people-img-form" style="cursor:pointer" ng-style="staff_face"></div>
            <div class="info-under-peopel-img">
                <h3>The Vinh Ly (Lee)</h3>
                <p>This is my first product,</br> so I'll try all my best in this one</p>
                <p style="font-weight: bold">Number of product</p>
                <span class="glyphicon glyphicon-shopping-cart" style="font-size:20px"> 0</span> 
                
            </div>
        </div>

        <div class="second-left-menu">
            <h4 style="font-weight: bold">About me</h4>
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 
            &emsp; Lives in <a href="#">Australia</a></br>
            <span class="glyphicon glyphicon-user"></span>
            &emsp; Works with <a href="#">Dung Lai</a></br>
            <span class="glyphicon glyphicon-briefcase"></span> 
            &emsp; Work <a href="#">experiments</a></br>
            <span class="glyphicon glyphicon-queen"></span>
            &emsp; My <a href="#">hobbies</a></br>
            <span class="glyphicon glyphicon-briefcase"></span>
            &emsp; Current <a href="#">projects</a></br>
        </div>
    </div>
</div>