
<div ng-app="index-App">
    <div class="right-infor">
        <div class="right-infor-top">
            <p style="font-weight:bold;font-size:16px;text-shadow: 2px 2px #00000045;">SOCIAL 
                <button type="button" class="btn btn-default btn-lg" style="float:right;height:40px;margin-top:-10px;border-radius:50%">
                    <span class="glyphicon glyphicon-envelope" ></span>
                </button></p>
        </div>
        <!--second right div-->
        <div class="second-right-div" ng-controller="secondRightDiv-ctrl">
            <p style="font-weight:bold;font-size:16px;text-shadow: 2px 2px #00000045;">Popular Posts</p>
            <div class="popular-post" ng-repeat="x in popular_post | limitTo : 4">
                <img src="{{x.src}}">
                <div class="summery">
                    {{x.data}}
                </div>
            </div>
        </div>
    </div>
</div>
